@font-face {
  font-family: "Work-Sans-Regular";
  src: url("../fonts/static/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "Work-Sans-Bold";
  src: url("../fonts/static/WorkSans-Bold.ttf");
}
@font-face {
  font-family: "Work-Sans-Semibold";
  src: url("../fonts/static/WorkSans-SemiBold.ttf");
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}
html {
  font-size: 16px;
  font-family: "Work-Sans-Regular";
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--Light-pink);
}
.top-image {
  background: url("../images/background-pattern-mobile.svg") no-repeat top
    center / cover;
  height: 14.375rem;
  z-index: 1;
}
main {
  background-color: var(--White);
  border-radius: 0.5rem;
  width: 87%;
  margin: -5rem auto 8.75rem;
  padding: 1.5rem;
  box-shadow: 0px 50px 48px -35px hsl(275deg 100% 97% / 50%),
    0px 26px 55px -30px hsl(292deg 16% 49% / 50%);
}
.title-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.title-container img {
  height: 1.56rem;
  width: 1.56rem;
}
.title-container h1 {
  font-size: 2.1rem;
  font-family: "Work-Sans-Bold";
  margin: 0;
}
.faq-container {
  margin-top: 1.5rem;
}

summary {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem 0;
}
summary:focus {
  border: none;
  outline: none;
}
details:first-child summary {
  padding-top: 0;
}
summary .faq-title {
  font-size: 1rem;
  font-family: "Work-Sans-Bold";
  white-space: break-spaces;
  transition: all 0.2s ease-in-out;
}
details[open],
summary:focus .faq-title,
summary:hover .faq-title {
  color: var(--Grayish-purple);
}
summary:focus .faq-title,
summary:hover .faq-title {
  transform: scale(1.02);
  padding-left: 0.2rem;
}
summary img {
  width: 1.96rem;
  height: 1.96rem;
  margin-left: 2rem;
}
.faq-content {
  padding-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: var(--Grayish-purple);
  font-weight: 400;
}
hr {
  margin: 0;
  border: 1px solid var(--Light-pink);
}
@media (min-width: 1024px) {
  body {
    min-height: 100vh;
  }
  .top-image {
    background: url("../images/background-pattern-desktop.svg") no-repeat top
      center / cover;
    height: 20rem;
  }
  main {
    width: 42%;
    margin: -9.5rem auto 8.75rem;
    border-radius: 1rem;
    padding: 2.5rem 2.5rem 1rem;
  }
  .title-container {
    gap: 1.4rem;
  }
  .title-container h1 {
    font-size: 3.5rem;
  }
  .title-container img {
    height: 2.56rem;
    width: 2.56rem;
  }
  .faq-container {
    margin-top: 1.75rem;
  }
  summary {
    padding: 1.4rem 0;
  }
  summary .faq-title {
    font-size: 1.15rem;
  }
  summary img {
    margin-left: 1rem;
  }
  .faq-content {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
